{% extends "main/base.html" %}
{% block title %}
  Controller
{% endblock title %}
{% block extra_css %}
  <style>
    #hide-messages-button {
      filter: invert(1);
      float: right;
    }
    #show-messages-button {
      display: none; /* Hide on load */
    }
    #message-list {
      max-height: 80vh;
      overflow-y: auto;
    }
    .table-container {
      border-radius: 10px;
    }
    .table-container table {
      width: 100%;
      border-collapse: collapse;
    }
    .table-container th, .table-container td {
      padding: 8px;
      white-space: nowrap;
      vertical-align: middle;
    }
    /* Flex layout to control column widths */
    .flex-container {
      display: flex;
      gap: 15px;
    }
    .flex-container .process-panel {
      flex: 1;
    }
    .flex-container .message-panel {
      width: 30%;
    }
    .flex-container.hide-messages .process-panel {
      width: 100%;
    }
    .flex-container.hide-messages .message-panel {
      display: none;
    }
    .flex-container.hide-messages #show-messages-button {
      display: inline-block;
    }
    .scrollable-div {
      max-height: 60vh;
      overflow-y: auto;
    }
    #timezone {
      font-size: 10pt;
    }
    .message-item {
      font-family: 'Arial', sans-serif;
      font-size: 0.875rem;
      line-height: 1.4;
    }
    /* Table Header Styling */
    .header-style {
      font-family: Arial, sans-serif;
      background-color: rgba(60, 60, 60, 0.8);
      font-weight: bold;
      font-size: 1.1rem;
      color: white;
    }

    /* Badge Styles for Status Codes */
    .process-panel .badge-dead {
        background-color: rgba(255, 0, 0, 0.2); /* Semi-transparent red */
        color: #d9534f;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;
    }

    .process-panel .badge-running {
        background-color: rgba(0, 255, 0, 0.2); /* Semi-transparent green */
        color: #5cb85c;
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.6rem 1rem;
        border-radius: 0.3rem;
    }

    /* Table Cell Styling */
    .fw-bold {
      font-weight: bold;
    }

    .text-break {
      word-break: break-word;
    }

    .text-start {
      text-align: left;
    }

    .text-center {
      text-align: center;
    }

    .text-primary {
      color: #007bff;
    }

    .text-secondary {
      color: #6c757d;
    }

    /* Checkbox Styling */
    .form-check-input-lg {
      transform: scale(1.5);
  </style>
{% endblock extra_css %}
{% block content %}
  {% include "main/messages.html" with topic="ERS" %}
{% endblock content %}
