{% load render_table from django_tables2 %}
<div _="on load if #argsDialog is not null remove #argsDialog"></div>
<div class="row align-items-start">
  <!-- Table Section (Control Form) -->
  <div class="col-md-7 col-12 mb-3">
    <form class="control-form">
      {% csrf_token %}
      {% render_table table %}
    </form>
  </div>
  <!-- Mermaid Diagram Section -->
  <div class="col-md-5 col-12 mb-3">
    <pre class="mermaid">
      flowchart TD

      %% FSM states (nodes).
      classDef default fill:#b5b3ae,stroke:black,stroke-width:2px

      %% FSM transitions (edges).
      linkStyle default background-color:#b5b3ae,stroke-width:2px

      {{ flowchart }}
    </pre>
  </div>
</div>
<script>
  // Initialize mermaid diagrams.
  mermaid.initialize({
    theme: "base",
    themeCSS: ".label { text-transform: uppercase; }",
    themeVariables: {
      primaryColor: "#b5b3ae",
      primaryTextColor: "white",
      edgeLabelBackground: "transparent", // HACK: custom edge label color
    },
  });

  // Refresh mermaid diagrams after htmx swap.
  document.body.addEventListener("htmx:afterSwap", (event) => {
    const target = event.detail.target;
    if (target && target.querySelector(".mermaid")) {
      mermaid.run({ nodes: target.querySelectorAll(".mermaid") });
    }
  });
</script>
