{% load render_table from django_tables2 %}
<div _="on load if #argsDialog is not null remove #argsDialog"></div>
<div class="row">
  <!-- Table Section (Control Form) -->
  <div class="col-md-7"> <!-- Adjusted column width -->
    <form style="padding: 15px; font-size: 1.2rem;"> <!-- Added padding and font size for larger form controls -->
      {% csrf_token %}
      {% render_table table %}
    </form>
  </div>

  <!-- Mermaid Diagram Section -->
  <div class="col-md-5"> <!-- Adjusted column width -->
    <pre class="mermaid" style="width: 100%; height: 100%;">
      flowchart TD

      %% FSM states (nodes).
      classDef default fill:#b5b3ae,stroke:black,stroke-width:2px

      %% FSM transitions (edges).
      linkStyle default background-color:#b5b3ae,stroke-width:2px

      {{ flowchart }}
    </pre>
  </div>
</div>
<script>
  // Initialize mermaid diagrams.
  mermaid.initialize({
    theme: "base",
    themeCSS: ".label { text-transform: uppercase; }",
    themeVariables: {
      primaryTextColor: "white",
      edgeLabelBackground: "transparent", // HACK: custom edge label colour
    },
  });

  // Refresh mermaid diagrams after htmx swap.
  document.body.addEventListener("htmx:afterSwap", (event) => {
    const target = event.detail.target;
    if (target && target.querySelector(".mermaid")) {
      mermaid.run({ nodes: target.querySelectorAll(".mermaid") });
    }
  });
</script>
