{% extends "main/base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block extra_css %}
  <style>
    #hide-messages-button {
      filter: invert(1);
      float: right;
    }
    #show-messages-button {
      display: none; /* Hide on load */
    }
    #message-list {
      max-height: 80vh;
      overflow-y: auto;
    }
    .table-container {
      border-radius: 10px;
    }
    .table-container table {
      width: 100%;
      border-collapse: collapse;
    }
    .table-container th, .table-container td {
      padding: 8px;
      white-space: nowrap;
      vertical-align: middle;
    }
    /* Flex layout to control column widths */
    .flex-container {
      display: flex;
      gap: 15px;
    }
    .flex-container .process-panel {
      flex: 1;
    }
    .flex-container .message-panel {
      width: 30%;
    }
    .flex-container.hide-messages .process-panel {
      width: 100%;
    }
    .flex-container.hide-messages .message-panel {
      display: none;
    }
    .flex-container.hide-messages #show-messages-button {
      display: inline-block;
    }
    .scrollable-div {
      max-height: 60vh;
      overflow-y: auto;
    }
  </style>
{% endblock extra_css %}
{% block extra_js %}
  <script type="text/hyperscript">
  behavior disableActionButton
    on click[target.matches('.row-checkbox')] from elsewhere or click[target.matches('#header-checkbox')] from elsewhere
      if <.row-checkbox:checked /> is empty
        set me.disabled to true
      else
        set me.disabled to false
    end
  end
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var timezoneElement = document.getElementById('timezone');
      var timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      var offset = new Date().getTimezoneOffset();
      var offsetHours = Math.abs(offset / 60);
      var offsetSign = offset <= 0 ? '+' : '-';
      var offsetString = offsetSign + String(offsetHours).padStart(2, '0')
      timezoneElement.textContent = timezone + ' (UTC' + offsetString + 'h)';
    });
  </script>
{% endblock extra_js %}
{% block content %}
  <div class="container-fluid no-padding no-margin">
    <div class="flex-container" id="main-content">
      <!-- Process Control Panel -->
      <div class="process-panel">
        <div class="card shadow-sm rounded">
          <div class="card-header bg-primary text-white rounded-top">
            <h5>Process Control</h5>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'process_manager:process_action' %}">
              {% csrf_token %}
              <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'process_manager:boot_process' %}"
                   class="btn btn-primary w-100 me-2">Boot</a>
                <input type="submit"
                       value="Restart"
                       class="btn btn-success w-100 mx-2"
                       name="action"
                       onclick="return confirm('Restart selected processes?')"
                       disabled
                       _="install disableActionButton">
                <input type="submit"
                       value="Flush"
                       class="btn btn-warning w-100 mx-2"
                       name="action"
                       onclick="return confirm('Flush selected processes?')"
                       disabled
                       _="install disableActionButton">
                <input type="submit"
                       value="Kill"
                       class="btn btn-danger w-100 ms-2"
                       name="action"
                       onclick="return confirm('Kill selected processes?')"
                       disabled
                       _="install disableActionButton">
                <!-- Consistent Show Messages Button -->
                <button id="show-messages-button"
                        type="button"
                        class="btn btn-info w-100 ms-2"
                        _="on click hide me toggle .hide-messages on #main-content">Show Messages</button>
              </div>
              <input class="form-control mb-3"
                     type="search"
                     name="search"
                     placeholder="Search processes..."
                     hx-get="{% url 'process_manager:process_table' %}"
                     hx-trigger="input changed delay:500ms, every 1s"
                     hx-target="div.table-container">
              <div id="table-container" class="table-container">
                <div class="scrollable-div"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Messages Panel with toggle -->
      <div class="message-panel" id="message-panel">
        <div class="card shadow-sm">
          <div class="card-header bg-info text-white">
            <h5 class="d-inline">Messages</h5>
            <span class="d-inline"id="timezone"></span>
            <!-- Updated Hide Messages Button as a close icon -->
            <button id="hide-messages-button"
                    type="button"
                    class="btn-close"
                    aria-label="Close"
                    _="on click add .hide-messages to #main-content show #show-messages-button"></button>
          </div>
          <div class="card-body">
            <input class="form-control mb-2"
                   type="search"
                   name="search"
                   placeholder="Search messages..."
                   hx-get="{% url 'process_manager:messages' %}"
                   hx-trigger="input changed delay:500ms, every 1s"
                   hx-target="#message-list">
            <div id="message-list"
                 class="list-group"
                 hx-get="{% url 'process_manager:messages' %}"
                 hx-trigger="load"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
