{% extends "main/base.html" %}
{% block title %}
  Logs
{% endblock title %}
{% block content %}
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white rounded-top">
      <h5>Log Output</h5>
    </div>
    <div class="card-body p-0">
      <div class="list-group">
        {% for line in log_lines %}
          <div class="list-group-item border-0"
               style="font-family: 'Courier New', Courier, monospace;
                      font-size: 0.875rem;
                      line-height: 1.2;
                      {% if forloop.first %}border-top-left-radius: 0;
                      border-top-right-radius: 0;
                      {% elif forloop.last %}border-bottom-left-radius: 0;
                      border-bottom-right-radius: 0;
                      {% else %}border-radius: 0;
                      {% endif %} background-color: rgba(240, 240, 240, 0.9)">
            <span class="d-block py-0 px-2">{{ line }}</span>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <a href="{% url 'process_manager:index' %}" class="btn btn-primary mt-3">Return to process list</a>
{% endblock content %}
